@import "tailwindcss";


.perspective-1000 {
  perspective: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

#courseCard ::-webkit-scrollbar{
  display: none;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translate(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translate(-25%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee-reverse 20s linear infinite;
}


