@import "tailwindcss";




<<<<<<< HEAD
=======
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
}

>>>>>>> 7c4342eccd1fb42fd042b22571e189433eea853d
